<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<h1>Welcome to hubiC encrypted storage!</h1>
	<div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-key"></i> Activate encryption</h3>
          </div>
          <div class="panel-body">
	<form class="form-horizontal" ng-submit="form.defineKey()">
		<fieldset>
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">Encryption key:</label>
				<div class="col-md-4">
					<input type="text" ng-model="form.key" placeholder="Enter an encryption key here" class="form-control input-md" required="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary">Define</button>
				</div>
			</div>
		</fieldset>
	</form>
	</div>
	</div>
</div>